{% extends 'base_generic.html' %}
{% load static %}

<style>
    #snackbar {
      visibility: hidden;
      min-width: 250px;
      margin-left: -125px;
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 2px;
      padding: 16px;
      position: fixed;
      z-index: 1;
      left: 50%;
      bottom: 30px;
      font-size: 17px;
    }
    
    #snackbar.show {
      visibility: visible;
      -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
      animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }
    
    @-webkit-keyframes fadein {
      from {bottom: 0; opacity: 0;} 
      to {bottom: 30px; opacity: 1;}
    }
    
    @keyframes fadein {
      from {bottom: 0; opacity: 0;}
      to {bottom: 30px; opacity: 1;}
    }
    
    @-webkit-keyframes fadeout {
      from {bottom: 30px; opacity: 1;} 
      to {bottom: 0; opacity: 0;}
    }
    
    @keyframes fadeout {
      from {bottom: 30px; opacity: 1;}
      to {bottom: 0; opacity: 0;}
    }

</style>
<script>
    function myFunction() {
      var x = document.getElementById("snackbar");
      x.className = "show";
      setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);


    document.getElementById("demo").innerHTML = window.myFunction();
    } 
</script>
  {% block content %}
  <div class="site-wrap">


    <div class="site-navbar py-2">
      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="" class="js-logo-clone">PharmaPlus</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li class="active"><a href="{% url 'pharmaplus:index' %}">Home</a></li>
                <li><a href="{% url 'pharmaplus:about' %}">About</a></li>
                <li><a href="{% url 'pharmaplus:contact' %}">Contact Us</a></li>
                {% if user.is_authenticated %}
                  <li><a href="{% url 'pharmaplus:logout' %}">Logout</a></li>
                {% else %}
                  <li><a href="{% url 'pharmaplus:login' %}">Login</a></li>
                  <li><a href="{% url 'pharmaplus:register'%}">Register</a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>


    

    <div class="site-blocks-cover" style="background-image: url({% static 'images/hero_1.jpg' %});">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
            <div class="site-block-cover-content text-center">
              <h2 class="sub-title">Effective and effortless medicines everyday everywhere</h2>
              <h1>Welcome To PharmaPlus</h1>
            </div>


            <div id="demo">
              {% if messages %}
              {% for message in messages %}
              <span class="popuptext" id="myPopup">{{message}}</span>
              {% endfor %}
              {% endif %}
            </div>



            <form action="{% url 'pharmaplus:index' %}" method="POST" >
              {% csrf_token %}
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="s_medicine">Medicine</label>
                  </div>
                  <select class="custom-select" id="s_medicine", name="s_medicine">
                    <option selected>Select Medicine</option>
                    {% for medicine in medicines %}
                    <option value="{{medicine.name}}">{{medicine.name}}</option>
                    {% endfor %}
                  </select>
                  <br>
                <div class="input-group-prepend">
                <label class="input-group-text" for="s_city">City</label>
                </div>
                <select class="custom-select" id= "s_city", name="s_city">
                  <option selected>Select City</option>
                  {% for city in cities %}
                  <option value="{{city.city}}">{{city.city}}</option>
                  {% endfor %}
                </select>
                </div>
              


              <div class="site-block-cover-content text-center">
                <div class="form-group row">
                  <div class="col-md-4">
                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Search Now">
                  </div>
                </div>
              </div>
          </form>   



          </div>
        </div>
      </div>
    </div>

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

            <div class="block-7">
              <h3 class="footer-heading mb-4">About Us</h3>
              <p>We at PharmaPlus tend to bring a revolution in the world of medicine.</p>
            </div>

          </div>

          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">room no. 39,40 Dr. C V Raman Hostel,IIT-BHU,BHU,varanasi,220015</li>
                <li class="phone"><a href="tel://8077967615">8077967615</a></li>
                <li class="email">aayusharora.cse18@itbhu.ac.in</li>
              </ul>
            </div>


          </div>
        </div>
      </div>
    </footer>
  </div>

  {% endblock %}


