{% extends 'base_generic.html' %}
{% load static %}

  {% block content %}

  <style>
    
    /* style the container */
    .container2 {
      position: relative;
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px 0 30px 0;
    } 
    
    /* style inputs and link buttons */
    input,
    .btn {
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 4px;
      margin: 5px 0;
      opacity: 0.85;
      display: inline-block;
      font-size: 17px;
      line-height: 20px;
      text-decoration: none; /* remove underline from anchors */
    }
    
    input:hover,
    .btn:hover {
      opacity: 1;
    }
    
    /* add appropriate colors to fb, twitter and google buttons */
    .fb {
      background-color: #3B5998;
      color: white;
    }
    
    .twitter {
      background-color: #55ACEE;
      color: white;
    }
    
    .google {
      background-color: #dd4b39;
      color: white;
    }
    
    /* style the submit button */
    input[type=submit] {
      background-color: #4CAF50;
      color: white;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    /* Two-column layout */
    .col {
      float: left;
      width: 50%;
      margin: auto;
      padding: 0 50px;
      margin-top: 6px;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* vertical line */
    .vl {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      border: 2px solid #ddd;
      height: 175px;
    }
    
    /* text inside the vertical line */
    .vl-innertext {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: #f1f1f1;
      border: 1px solid #ccc;
      border-radius: 50%;
      padding: 8px 10px;
    }
    
    /* hide some text on medium and large screens */
    .hide-md-lg {
      display: none;
    }
    
    /* bottom container */
    .bottom-container {
      text-align: center;
      background-color: #666;
      border-radius: 0px 0px 4px 4px;
    }
    
    /* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 650px) {
      .col {
        width: 100%;
        margin-top: 0;
      }
      /* hide the vertical line */
      .vl {
        display: none;
      }
      /* show the hidden text on small screens */
      .hide-md-lg {
        display: block;
        text-align: center;
      }
    }
    </style>
  <div class="site-wrap">


    <div class="site-navbar py-2">
      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="" class="js-logo-clone">PharmaPlus</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li><a href="{% url 'pharmaplus:index' %}">Home</a></li>
                <li><a href="{% url 'pharmaplus:about' %}">About</a></li>
                <li><a href="{% url 'pharmaplus:contact' %}">Contact Us</a></li>
                <li class="active"><a href="{% url 'pharmaplus:login' %}">Login</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="container2">
        <h1 style="text-align:center">Login using social media or manually</h1>
            <div class="vl">
              <span class="vl-innertext">or</span>
            </div>
        <form action="{% url 'pharmaplus:login'%}" method="post">
          {% csrf_token %}
          <div class="row">
      
            <div class="col">
                <a href="#" class="google btn"><i class="fa fa-google fa-fw">
                    </i> Login with Google+
                </a>
                <a href="#" class="fb btn"><i class="fa fa-google fa-fw">
                    </i> Login with Facebook
                </a>
                <a href="#" class="twitter btn"><i class="fa fa-google fa-fw">
                    </i> Login with Twitter
                </a>
            </div>
      
            <div class="col">
              <div class="hide-md-lg">
                <p>Or sign in manually:</p>
              </div>
      
              <input type="text" id = "username" name="username" placeholder="Username" required>
              <input type="password"  id = "password" name="password" placeholder="Password" required>
              <input type="submit" value="Login">
            </div>
            
          </div>
        </form>
    </div>

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

            <div class="block-7">
              <h3 class="footer-heading mb-4">About Us</h3>
              <p>We at PharmaPlus tend to bring a revolution in the world of medicine.</p>
            </div>

          </div>

          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">room no. 39,40 Dr. C V Raman Hostel,IIT-BHU,BHU,varanasi,220015</li>
                <li class="phone"><a href="tel://8077967615">8077967615</a></li>
                <li class="email">aayusharora.cse18@itbhu.ac.in</li>
              </ul>
            </div>


          </div>
        </div>
      </div>
    </footer>
  </div>

  {% endblock %}


